@charset "utf-8";
@media only screen and (min-width:769px) and (max-width:4000px) {
    .responsive {
        display: none;
    }
    .responsive-menu {
        display: none;
    }
}

@media only screen and (min-width:980px) and (max-width:1024px) {
    #student-container {
        padding-bottom: 30px;
    }
    #top-container #menu {
        right: 20px;
    }
    #top-container #logo {
        left: 20px;
    }
    #welcome-container p {
        text-align: center;
        padding-bottom: 15px;
        padding: 0 5%;
    }
    #footer-container2 #footer {
        width: 1024px !important;
        margin: auto;
    }
}

@media only screen and (min-width:880px) and (max-width:979px) {
    #student-container .container #text #para {
        width: 740px;
    }
    #top-container #logo img {
        width: 60%;
    }
    #top-container #menu {
        margin-top: 30px;
    }
    #top-container #menu {
        right: 30px;
    }
    #welcome-container #heading h1 {
        font-size: 20px;
    }
    #student-container .container #text #para p {
        font-size: 12px !important;
    }
    #top-container #menu .button-menu {
        margin-top: 10px;
    }
    #nav {
        margin: 15px auto;
    }
    #top-container #menu {
        right: 20px;
    }
    #top-container #logo {
        left: 20px;
    }
    #welcome-container p {
        text-align: center;
        padding-bottom: 15px;
        padding: 0 5%;
    }
    #course-program-container .container .left-container {
        padding: 0 5%;
        width: 90%;
    }
    #course-program-container .container .right-container {
        width: 97.5%;
    }
    #course-program-container .right-container #events #info-program {
        width: 42.5%;
    }
}

@media only screen and (min-width:0px) and (max-width:480px) {
    body {
        background-attachment: fixed;
    }
    .right-btn {
        display: none !important;
    }
    .cart-btn {
        display: none;
    }
    .responsive-menu select {
        width: 100%;
        height: auto;
        text-align: left;
        /*		margin: 20px 0px;
*/
        background: #0b1f71;
        color: #FFF;
        border: none;
        padding: 10px;
    }
    .responsive-menu select option {
        padding: 10px;
    }
    #inner-activity-container #contact-detail #list-ul>ul>li {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }
    #faculty-container .container .faculty-list li {
        margin: 0;
        width: 94%;
        margin-bottom: 30px;
    }
    #faculty-container .container {
        padding: 0 15px;
    }
    #inner-container {
        width: 100%;
        height: 200px !important;
    }
    #inner-container h1 {
        font-size: 36px;
        padding: 70px 15px 100px;
        color: #ffffff;
    }
    #course-program-container .container {
        padding: 0 15px;
    }
    #course-program-container .container #about-left-container-size {
        width: auto;
        padding: 0;
    }
    #course-program-container .container #about-right-container-size {
        width: 100%;
        padding: 0;
    }
    .right-container ul li img {
        width: 100%;
    }
    #current-opening .container {
        padding: 0 15px;
    }
    #cssmenu>ul>li>a>span {
        font-size: 17px;
    }
    #menu {
        display: none !important;
    }
    .addthis_toolbox {
        display: none !important;
    }
    #top-container {
        text-align: center;
        margin-top: -10px;
    }
    #markque-container .container {
        padding: 0 15px;
    }
    #course-program-container .container .left-container {
        width: 94%;
    }
    #course-program-container .container .right-container {
        width: 100%;
    }
    #course-program-container .right-container #events #info-program {
        margin: 0;
        width: 93%;
    }
    #form-container {
        width: auto;
    }
    #contact-container {
        width: auto;
    }
    #contact-container .container-cotacts .right-part .ul-list-info li .detail {
        width: 100%;
        display: inline-block;
    }
    .right-part .ul-list-info li .map {
        text-align: center;
        width: 100% !important;
    }
    #form-container .container-form .form-ul-list li {
        width: 100%;
    }
    #form-container .container-form .form-ul-list .add-text {
        width: 96%;
    }
    .term {
        display: none;
    }
    #right {
        display: none !important;
    }
    #footer {
        overflow: hidden;
    }
    #markque-container .container #part-marq #marqueeq {
        display: block;
        width: 100%;
    }
    #footer-container2 #footer {
        width: auto !important;
    }
    #welcome-container #heading h1 {
        font-size: 19px;
        line-height: 25px;
    }
    #welcome-container .container {
        padding: 0 15px;
    }
    #student-container {
        display: none !important;
    }
    .list_carousel1 #foo1 {
        padding: 0;
        margin: 0;
    }
    .container .right-part {
        width: 100%;
    }
    .online-admission-contaner .ul-list li .input {
        margin-left: 0;
    }
    .online-admission-contaner .ul-list li .st_select {
        margin-right: 101px;
        margin-bottom: 10px;
    }
    .rules-input {
        width: 100% !important;
    }
    .online-admission-contaner .ul-list li .input {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
    .online-admission-contaner .ul-list li .st_select {
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
    .online-admission-contaner .ul-list li span {
        padding-bottom: 5px;
    }
    .sbt_bt {
        margin-left: 0px !important;
    }
    .container .left-part {
        width: 100%;
    }
    .Submit {
        float: left;
    }
    .list_carousel1 #foo1>li {
        width: 87% !important;
        margin-bottom: 25px !important;
        padding: 0 15px;
    }
    #inner-activity-container #activity-parts #contact-detail {
        /*padding: 15px 0px;*/
    }
    #course-program-container .right-container h2 {
        font-size: 15px;
        width: auto;
        margin-left: 48px;
    }
    /* #course-program-container .left-container #head h2 {
        font-size: 18px;
    } */
    #top-container #logo img {
        width: 80%;
    }
    .list_carousel1 #foo1>li {
        margin: 0;
    }
    #footer-container2 #footer #left {
        width: 100%;
        text-align: center;
    }
    .responsive-menu select option a {
        display: block !important;
        border: 1px solid #f00;
    }
    #left_container-course {
        width: 100%;
        margin-bottom: 2rem;
        box-shadow: none;
    }
    #right_container {
        width: 100%;
    }
    #contact-container .container-cotacts .left-part {
        width: 100%;
    }
    #contact-container .container-cotacts .right-part {
        width: 80%;
        float: left;
    }
    #left_container-course ul .first {
        font-size: 19px;
        padding: 10px;
        text-align: left;
    }
    .page-heading-area h2 {
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px;
        text-align: center;
        display: block;
    }
    .page-heading-area {
        text-align: left;
    }
    #banner-gallery-container h2 {
        margin-left: 30px;
    }
    .text ul li {
        list-style: none;
        line-height: 30px;
    }
    .responsive-menu {
        margin: 20px 0;
    }
    #welcome-container #heading {
        display: inline-block;
        width: 100%;
    }
    .franchise-form {
        overflow: hidden;
        margin: -25px 20px 0;
    }
    .franchise-form .franchise-form-left-box {
        width: 100%;
        position: relative;
    }
    .franchise-form .franchise-form-right-box {
        width: 100%;
        padding: 0;
    }
    .franchise-form .franchise-caption h2 {
        font-size: 38px !important;
    }
    .franchise-form .franchise-caption h2 span {
        font-size: 45px;
        line-height: 28px;
    }
    .pdf-franchise {
        padding: 12px 11px;
        font-size: 15px;
    }
    .franchise-form .franchise-caption {
        padding: 10px 10px 0;
        height: 98%;
        display: none;
    }
    #contact-container .container-cotacts h2 {
        font-size: 18px;
    }
    .franchise-form .franchise-form-right-box>form>ul>li {
        width: 97%;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .right-btn {
        display: none !important;
    }
    .cart-btn {
        display: none;
    }
    .responsive-menu select {
        width: 100%;
        height: auto;
        text-align: left;
        /*		margin: 20px 0px;
*/
        background: #0b1f71;
        color: #FFF;
        border: none;
        padding-left: 10px;
    }
    .responsive-menu select option {
        padding: 10px;
    }
    .responsive-menu {
        margin: 20px;
    }
    #inner-activity-container #contact-detail #list-ul>ul>li {
        display: inline-block;
        width: 48%;
    }
    #faculty-container .container {
        padding: 0 15px;
    }
    #inner-container {
        width: 100%;
        height: 300px;
    }
    #inner-container h1 {
        font-size: 36px;
        padding: 70px 15px 100px;
        color: #ffffff;
    }
    #course-program-container .container {
        padding: 0 15px;
    }
    #course-program-container .container #about-left-container-size {
        width: 91%;
    }
    #course-program-container .container #about-right-container-size {
        width: 100%;
    }
    .right-container ul li img {
        width: 46%;
    }
    #current-opening .container {
        padding: 0 15px;
    }
    #cssmenu>ul>li>a>span {
        font-size: 17px;
    }
    #menu {
        display: none !important;
    }
    .addthis_toolbox {
        display: none !important;
    }
    #top-container {
        text-align: center;
        margin-top: -10px;
    }
    #markque-container .container {
        padding: 0 15px;
    }
    #course-program-container .container .left-container {
        width: 94%;
    }
    #course-program-container .container .right-container {
        width: 100%;
    }
    #course-program-container .right-container #events #info-program {
        margin: 0;
        width: 93%;
    }
    .term {
        display: none;
    }
    #right {
        display: none !important;
    }
    #footer {
        overflow: hidden;
    }
    #markque-container .container #part-marq #marqueeq {
        display: block;
        width: 100%;
    }
    #footer-container2 #footer {
        width: auto !important;
    }
    #welcome-container #heading h1 {
        font-size: 16px;
        line-height: 25px;
    }
    #welcome-container .container {
        padding: 0 15px;
    }
    #student-container {
        display: none !important;
    }
    .list_carousel1 #foo1>li {
        width: 46% !important;
        padding-left: 20px !important;
        margin-bottom: 25px !important;
        min-height: 270px;
    }
    #course-program-container .right-container h2 {
        font-size: 15px;
    }
    #top-container #logo img {
        width: 80%;
    }
    #footer-container2 #footer #left {
        width: 100%;
        text-align: center;
    }
    #course-program-container .right-container h2 {
        margin-left: 166px;
    }
    .responsive-menu select option a {
        display: block !important;
        border: 1px solid #f00;
    }
}