#vertical-ticker {
    width: 100%;
    height: 130px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#vertical-ticker li {
    list-style: none;
    float: left;
    margin: 5px auto 50px;
}

#vertical-ticker-news {
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#vertical-ticker-news li {
    list-style: none;
    width: 100%;
    float: left;
    border-bottom: 1px solid #c7c7c7;
    padding: 5px 0;
}